<div fxLayout="row">
    <div fxFlex="65%" class="video-detail">
        <div fxLayout="column" fxLayoutGap="8px">
            <app-video-player *ngIf="isVideoAvailable" [videoUrl]="videoUrl"></app-video-player>
            <div class="mat-title">
                <h3>
                    <b>Title:</b><br> 
                    <h2>{{videoTitle}}</h2>
                </h3>
            </div>
            <div fxFlex="50%" fxLayoutAlign="end">
                <span class="like-dislike-section">
                    <button mat-icon-button class="thumbs-up" (click)="likeVideo()">
                        <mat-icon>thumb_up_off_alt</mat-icon>
                        {{likesCount}}
                    </button>
                    <button mat-icon-button class="thumbs-down" (click)="dislikeVideo()">
                        <mat-icon>thumb_down_off_alt</mat-icon>
                        {{dislikesCount}}
                    </button>
                </span>
            </div>
            <mat-divider></mat-divider>
            <mat-card-header>
                <div>
                    <mat-card-title><h2><b>Nina Charnahalava</b></h2></mat-card-title>
                </div>
                <div>
                    <mat-card-subtitle class="subtitles">4.2K Subscribers</mat-card-subtitle>
                </div>
                <button *ngIf="showSubscribedButton" class="subscribe-button" mat-raised-button color="warn"
                (click)="subscribeToUser()">SUBSCRIBE
                </button>
                <button *ngIf="showUnsubscribedButton" class="subscribe-button-clicked" mat-raised-button color="accent"
                (click)="unsubscribeToUser()">UNSUBSCRIBE
                </button>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div fxLayout="row">
                <div fxFlex="50%">
                    <div><b>View Count:</b></div>
                    <div>{{viewCount}} Views
                        <span class="dot"></span>
                        <span class="video-upload-date">Dec 07, 2023</span>
                    </div><br>
                    <div><b>Description:</b></div>
                    <div>{{videoDescription}}</div><br>
                    <div><b>Tags:</b></div>
                    <mat-chip-listbox aria-label="Tags selection">
                        <mat-chip-option *ngFor="let tag of videoTags">
                            {{tag}}
                        </mat-chip-option>
                    </mat-chip-listbox>
                    <mat-divider></mat-divider>
                    <app-comments [videoId]="videoId"></app-comments>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="5%"></div>
    <div fxFlex="30%"></div>
</div>


